body {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

.grid-container{
    display: grid;
    grid-template-columns: 300px 200px 150px;
    column-gap: 20px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
    margin-left: 50px;
    margin-top: 40px;
}

#todo-input, #todo-date{
    font-size: 15px;
    padding: 10px 5px;
}

.itm, .dt{
    font-size: 18px;
    padding: 10px 5px;
}

#dlt-btn{
    background-color: maroon;
    color: white;
    font-size: 15px;
    padding: 15px 0px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
#add-btn{
    background-color: rgb(8, 85, 12);
    color: white;
    font-size: 15px;
    padding: 15px 0px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}